:root{
    --neutral-bg-color: #E8BC5F;
    --neutral-h1-color: #d69610;
    --neutral-confirm-color: #4f9356;
    --neutral-decline-color: #c1564c;
    --neutral-font-color: #2e2b26;
    
    --dark-bg-color:  #dfe0df;
}