@import "tailwindcss";

:root{
  --neutral-bg-color: #151515;
  --neutral-h1-color: #d69610;
  --neutral-confirm-color: #4f9356;
  --neutral-decline-color: #c1564c;
  --neutral-font-color: #2e2b26;
  --card-bg: #775a2b;

  --font-press-start-2p: 'Press Start 2P', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

html, body, #root {
  height: 100%;
}

body {
  background: var(--neutral-bg-color);
  color: var(--neutral-font-color);
  font-family: var(--font-press-start-2p);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.draggable-horizontal {
  position: relative;
  display: block;
  will-change: transform;
  cursor: grab;
  user-select: none;
  -webkit-user-drag: none;
  touch-action: pan-y; /* allow vertical page scroll */
  transition: transform 0s;
  transform-origin: center center;
}
.draggable-horizontal.dragging {
  cursor: grabbing;
}

.container {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trip-card-container {
  width: 30vw;
  height: 50vh;
  background: var(--card-bg);
  color: var(--neutral-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform-origin: center center;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  user-select: none;
  touch-action: none;
}

.draggable-horizontal.show-like .action-indicator.like,
.draggable-horizontal.show-dislike .action-indicator.dislike {
  opacity: 1;
  transform: translateY(0);
}
